[Desktop Entry]
Name=Gallery Remote
Comment=Gallery Remote - client-side frontend to Gallery
Comment[pl]=Gallery Remote - nakładka kliencka na Gallery
Icon=gallery-remote
Exec=gallery-remote
Terminal=false
Type=Application
Categories=Graphics;
# vi: encoding=utf-8
